<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimbursementProject</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxNavbarServlet</display-name>
    <servlet-name>AjaxNavbarServlet</servlet-name>
    <servlet-class>com.revature.servlet.AjaxNavbarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxNavbarServlet</servlet-name>
    <url-pattern>/AjaxNavbarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEmployeeHomeViewServlet</display-name>
    <servlet-name>AjaxEmployeeHomeViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.AjaxEmployeeHomeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEmployeeHomeViewServlet</servlet-name>
    <url-pattern>/AjaxEmployeeHomeViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEmployeeProfileViewServlet</display-name>
    <servlet-name>AjaxEmployeeProfileViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.AjaxEmployeeProfileViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEmployeeProfileViewServlet</servlet-name>
    <url-pattern>/AjaxEmployeeProfileViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxErsUserInfoServlet</display-name>
    <servlet-name>AjaxErsUserInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.AjaxErsUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxErsUserInfoServlet</servlet-name>
    <url-pattern>/AjaxErsUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxReimbursementViewServlet</display-name>
    <servlet-name>AjaxReimbursementViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.AjaxReimbursementViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxReimbursementViewServlet</servlet-name>
    <url-pattern>/AjaxReimbursementViewServlet</url-pattern>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxHistoryOfPendingServlet</display-name>
    <servlet-name>AjaxHistoryOfPendingServlet</servlet-name>
    <servlet-class>com.revature.servlet.AjaxHistoryOfPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxHistoryOfPendingServlet</servlet-name>
    <url-pattern>/AjaxHistoryOfPendingServlet</url-pattern>
  </servlet-mapping>
</web-app>